parameters:
    checkExplicitMixedMissingReturn: true
    checkPhpDocMissingReturn: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method Magento\\Framework\\App\\ResponseInterface::setBody\(\).#'
        - '#Call to an undefined method Magento\\Framework\\App\\RequestInterface::getPost\(\).#'
        - '#Call to an undefined method Magento\\Framework\\Model\\AbstractModel::getStore\(\).#'
        - '#Call to an undefined method Magento\\Framework\\Model\\AbstractModel::getSpecialPrice\(\).#'
        - '#Call to an undefined method Magento\\Framework\\Model\\AbstractModel::getSpecialFromDate\(\).#'
        - '#Call to an undefined method Magento\\Framework\\Model\\AbstractModel::getSpecialToDate\(\).#'
        - '#Call to an undefined method Magento\\Framework\\Model\\AbstractModel::getAvailableInCategories\(\).#'
        - '#Call to an undefined method Magento\\Framework\\Model\\AbstractModel::getStoreId\(\).#'
        - '#Call to an undefined method Magento\\Framework\\DataObject::getIsSmart\(\).#'
        - '#Call to an undefined method Magento\\Framework\\DataObject::getError\(\).#'
        - '#Call to an undefined method Magento\\Framework\\DataObject::getContinue\(\).#'
        - '#Call to an undefined method Magento\\Framework\\DataObject::getConditions\(\).#'
        - '#Call to an undefined method Magento\\Framework\\DataObject::getError\(\).#'
        - '#Call to an undefined method Magento\\Framework\\DataObject::getId\(\).#'
        - '#Call to an undefined method Magento\\Framework\\Model\\AbstractModel::getNewsFromDate\(\).#'
        - '#Call to an undefined method Magento\\Framework\\Model\\AbstractModel::getNewsToDate\(\).#'
        - '#Call to an undefined method Magento\\Framework\\Data\\Form::setHtmlIdPrefix\(\).#'
        - '#Call to an undefined method Magento\\Framework\\Data\\Form\\Element\\AbstractElement::getLegend\(\).#'
        - '#Call to an undefined method Magento\\Framework\\Data\\Form\\Element\\AbstractElement::getChildrenHtml\(\).#'
        - '#Call to an undefined method Magento\\Framework\\Data\\Form\\Element\\AbstractElement::getComment\(\).#'
        - '#Call to an undefined method Magento\\Framework\\Data\\Form\\Element\\AbstractElement::setRule\(\).#'
        - '#Call to an undefined method Magento\\Rule\\Model\\Condition\\AbstractCondition::setFormName\(\).#'
        - '#Call to an undefined method Magento\\Rule\\Model\\Condition\\AbstractCondition::setJsFormObject\(\).#'
        - '#Call to an undefined method Magento\\Rule\\Model\\Condition\\AbstractCondition::getConditions\(\).#'
        - '#Call to an undefined method Magento\\Rule\\Model\\Condition\\Combine::collectValidatedAttributes\(\).#'
        - '#Call to an undefined method Magento\\Backend\\Block\\Widget\\Form\\Renderer\\Fieldset::getFieldSetId\(\).#'
        - '#Call to an undefined method Magento\\Backend\\Block\\Widget\\Form\\Renderer\\Fieldset::getNewChildUrl\(\).#'
        - '#Call to an undefined method Magento\\Backend\\Block\\Widget\\Form\\Renderer\\Fieldset::setNewChildUrl\(\).#'
        - '#Call to an undefined method Magento\\Catalog\\Model\\Category::getIsSmart\(\).#'
        - '#Call to an undefined method Magento\\Store\\Api\\Data\\WebsiteInterface::getDefaultStore\(\).#'
        - '#Call to an undefined method Magento\\Framework\\View\\Element\\BlockInterface::setCategoryIds\(\).#'
        - '#no value type specified in iterable type Magento\\Catalog\\Model\\ResourceModel\\Product\\Collection.#'
        - '#no value type specified in iterable type Magento\\Framework\\Data\\Collection\\AbstractDb.#'
        - '#no value type specified in iterable type Faonni\\SmartCategory\\Model\\ResourceModel\\Rule\\Collection.#'
        - '#no value type specified in iterable type Magento\\Eav\\Model\\ResourceModel\\Entity\\Attribute\\Set\\Collection.#'
        - '#Cannot call method getBackend\(\) on Magento\\Eav\\Model\\Entity\\Attribute\\AbstractAttribute.#'
        - '#Cannot call method getEntity\(\) on Magento\\Eav\\Model\\Entity\\Attribute\\AbstractAttribute.#'
        - '#Cannot call method getId\(\) on Magento\\Eav\\Model\\Entity\\Attribute\\AbstractAttribute.#'
